/* Make our text more masculine */
.masculine {
  color: rgba(13, 238, 24, 0.863);
  background-color: black;
  font-size: xx-large; /*because bigger is better and I don't like squinting*/
  font-family: monospace; /*for that ugly hacker-y look*/
}

.masculine {
  display: inline-block;
}

.masculineOption:hover {
  color: black;
  background-color: rgba(13, 238, 24, 0.863);
}

/*Make radio buttons display vertically*/
input.masculine {
  display: block;
}
